<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>texelFX</title>

    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <link href="~/css/landing-page.min.css" rel="stylesheet">

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header class="masthead text-white text-center">
        <div class="overlay"></div>

        <a href="http://www.texelfx.com/"><img src="~/images/logo.png" class="img-fluid text-center" alt="texelFX" /></a>

        @RenderBody()
    </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-screen-desktop m-auto text-primary"></i>
                        </div>
                        <h3>Machine Learning Based</h3>
                        <p class="lead mb-0">Utilizing the latest in Machine Learning concepts to produce the highest quality scaling possible.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-layers m-auto text-primary"></i>
                        </div>
                        <h3>Open Source</h3>
                        <p class="lead mb-0">Fully open source via the MIT License</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-check m-auto text-primary"></i>
                        </div>
                        <h3>Cross Platform</h3>
                        <p class="lead mb-0">Runs on Windows, Linux or macOS</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <footer class="footer bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 h-100 text-center my-auto">
                    <p class="text-muted small mb-4 mb-lg-0">&copy; @DateTime.Now.Year Motion Blur Studios.  Source code on <a href="https://github.com/jcapellman/texelfx" target="_blank">github</a>. All Rights Reserved.</p>
            </div>
        </div>
    </div>
    </footer>
</body>
</html>