@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<div>
    <h4>@Model.Message</h4><br/><br/>
    
    <h3>Addition Information</h3>
    <p>
        @Model.ExceptionDetail
    </p>
</div>