body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #0e0e0e;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    color: Gold;
    width: 100%;
    text-align: center;
}

.body-content h3 {
    font-weight: bold;
}

footer {
    text-align: center;
    font-weight: bold;
}

.vtinfolabel {
    font-weight: bold;
    float: left;
    width: 50px;
}

.vtinfovalue {
    float: left;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/* Generation Specific CSS */
.OutputContainer {
    margin-bottom: 40px;
    margin-top: 40px;
}

.OutputContainer h3 {
    font-weight: bolder;
    color: White;
}
/* End Generation Specific CSS */