@model texelfx.mvc.Models.GenerationResponseModel

<div>
    <h3>texelfx Scaler Results</h3>

    <p>
        <h4>Scaled using @Model.ScalerType</h4>

        <a href="/" role="button" class="btn btn-warning">home</a>
    </p>
</div>