@model texelfx.mvc.Models.FileUploadModel

<div>
    <img src="images/logo.png" />

    <p>Generate a scaled image below using the available scaler</p>

    <form asp-controller="Home" asp-action="Generate" method="post" enctype="multipart/form-data">
        <input asp-for="UploadFile" type="file" class="form-control" />
        
        <select id="scalerType" name="scalerType" class="form-control" style="max-width: 200px; margin: 0 auto; text-align: center">
            @foreach (var scalerName in Model.Scalers) {
                <option>@scalerName</option>
            }
        </select>

        <br />

        <button type="submit" class="btn-lg btn-primary">scale image</button>
    </form>
</div>